.App-logo {
  height: 60px;
}

.App-header {
  background-color: #3A9425;
  height: 50px;
  padding: 5px 15px;
  color: white;
}

.movieimage{
  width:205px;
  height:305px;
  border:1px solid #000000;
}

.required{
  color:red;
}

.commentbox{
  border:1px solid #000000;
  padding:20px;
}
